process {

executor='local'
  $Download_1M_Reads.container='inutano/sra-toolkit:latest'
  $Sample_Download_1000_Reads.container='inutano/sra-toolkit:latest'
  $Sample_QC.container='genomicpariscentre/fastqc:latest'
  $Sample_KallistoCountsWithTuples.container='artifacts/kallisto-homo-sapiens:1.0.0'
  $Sample_CombineCounts.container='fac2003/rocker-metar:latest'
} // close process
docker.enabled = true
docker.runOptions=""
docker.engineOptions='--tlsverify --tlscacert="/Users/fac2003/.docker/machine/machines/default/ca.pem" --tlscert="/Users/fac2003/.docker/machine/machines/default/cert.pem" --tlskey="/Users/fac2003/.docker/machine/machines/default/key.pem" -H=tcp://192.168.99.101:2376'
